{
    "openapi": "3.0.1",
    "info": { "title": "OpenAPI definition", "version": "v0" },
    "servers":
        [
            {
                "url": "https://apis.boxpay.tech/v0",
                "description": "Generated server url",
            },
        ],
    "paths":
        {
            "/merchants/{merchantId}/transactions":
                {
                    "post":
                        {
                            "tags": ["transaction-controller"],
                            "operationId": "createAndAuthPayment",
                            "parameters":
                                [
                                    {
                                        "name": "merchantId",
                                        "in": "path",
                                        "required": true,
                                        "schema": { "type": "string" },
                                    },
                                ],
                            "requestBody":
                                {
                                    "content":
                                        {
                                            "application/json":
                                                {
                                                    "schema":
                                                        {
                                                            "$ref": "#/components/schemas/PaymentRequest",
                                                        },
                                                },
                                        },
                                    "required": true,
                                },
                            "responses":
                                {
                                    "500":
                                        {
                                            "description": "Internal Server Error",
                                            "content":
                                                {
                                                    "*/*":
                                                        {
                                                            "schema":
                                                                {
                                                                    "$ref": "#/components/schemas/ErrorDetails",
                                                                },
                                                        },
                                                },
                                        },
                                    "400":
                                        {
                                            "description": "Bad Request",
                                            "content":
                                                {
                                                    "*/*":
                                                        {
                                                            "schema":
                                                                {
                                                                    "$ref": "#/components/schemas/ErrorDetails",
                                                                },
                                                        },
                                                },
                                        },
                                    "201":
                                        {
                                            "description": "Created",
                                            "content":
                                                {
                                                    "*/*":
                                                        {
                                                            "schema":
                                                                {
                                                                    "$ref": "#/components/schemas/PaymentResponse",
                                                                },
                                                        },
                                                },
                                        },
                                },
                        },
                },
            "/merchants/{merchantId}/transactions/{transactionId}/refunds":
                {
                    "post":
                        {
                            "tags": ["transaction-controller"],
                            "operationId": "refundPayment",
                            "parameters":
                                [
                                    {
                                        "name": "merchantId",
                                        "in": "path",
                                        "required": true,
                                        "schema": { "type": "string" },
                                    },
                                    {
                                        "name": "transactionId",
                                        "in": "path",
                                        "required": true,
                                        "schema": { "type": "string" },
                                    },
                                ],
                            "requestBody":
                                {
                                    "content":
                                        {
                                            "application/json":
                                                {
                                                    "schema":
                                                        {
                                                            "$ref": "#/components/schemas/PaymentCaptureRefundRequest",
                                                        },
                                                },
                                        },
                                    "required": true,
                                },
                            "responses":
                                {
                                    "500":
                                        {
                                            "description": "Internal Server Error",
                                            "content":
                                                {
                                                    "*/*":
                                                        {
                                                            "schema":
                                                                {
                                                                    "$ref": "#/components/schemas/ErrorDetails",
                                                                },
                                                        },
                                                },
                                        },
                                    "400":
                                        {
                                            "description": "Bad Request",
                                            "content":
                                                {
                                                    "*/*":
                                                        {
                                                            "schema":
                                                                {
                                                                    "$ref": "#/components/schemas/ErrorDetails",
                                                                },
                                                        },
                                                },
                                        },
                                    "201":
                                        {
                                            "description": "Created",
                                            "content":
                                                {
                                                    "*/*":
                                                        {
                                                            "schema":
                                                                {
                                                                    "$ref": "#/components/schemas/PaymentResponse",
                                                                },
                                                        },
                                                },
                                        },
                                },
                        },
                },
            "/merchants/{merchantId}/transactions/{transactionId}/captures":
                {
                    "post":
                        {
                            "tags": ["transaction-controller"],
                            "operationId": "capturePayment",
                            "parameters":
                                [
                                    {
                                        "name": "merchantId",
                                        "in": "path",
                                        "required": true,
                                        "schema": { "type": "string" },
                                    },
                                    {
                                        "name": "transactionId",
                                        "in": "path",
                                        "required": true,
                                        "schema": { "type": "string" },
                                    },
                                ],
                            "requestBody":
                                {
                                    "content":
                                        {
                                            "application/json":
                                                {
                                                    "schema":
                                                        {
                                                            "$ref": "#/components/schemas/PaymentCaptureRefundRequest",
                                                        },
                                                },
                                        },
                                    "required": true,
                                },
                            "responses":
                                {
                                    "500":
                                        {
                                            "description": "Internal Server Error",
                                            "content":
                                                {
                                                    "*/*":
                                                        {
                                                            "schema":
                                                                {
                                                                    "$ref": "#/components/schemas/ErrorDetails",
                                                                },
                                                        },
                                                },
                                        },
                                    "400":
                                        {
                                            "description": "Bad Request",
                                            "content":
                                                {
                                                    "*/*":
                                                        {
                                                            "schema":
                                                                {
                                                                    "$ref": "#/components/schemas/ErrorDetails",
                                                                },
                                                        },
                                                },
                                        },
                                    "201":
                                        {
                                            "description": "Created",
                                            "content":
                                                {
                                                    "*/*":
                                                        {
                                                            "schema":
                                                                {
                                                                    "$ref": "#/components/schemas/PaymentResponse",
                                                                },
                                                        },
                                                },
                                        },
                                },
                        },
                },
            ? "/merchants/{merchantId}/transactions/{transactionId}/cancellations"
            : {
                  "post":
                      {
                          "tags": ["transaction-controller"],
                          "operationId": "cancelPayment",
                          "parameters":
                              [
                                  {
                                      "name": "merchantId",
                                      "in": "path",
                                      "required": true,
                                      "schema": { "type": "string" },
                                  },
                                  {
                                      "name": "transactionId",
                                      "in": "path",
                                      "required": true,
                                      "schema": { "type": "string" },
                                  },
                              ],
                          "responses":
                              {
                                  "500":
                                      {
                                          "description": "Internal Server Error",
                                          "content":
                                              {
                                                  "*/*":
                                                      {
                                                          "schema":
                                                              {
                                                                  "$ref": "#/components/schemas/ErrorDetails",
                                                              },
                                                      },
                                              },
                                      },
                                  "400":
                                      {
                                          "description": "Bad Request",
                                          "content":
                                              {
                                                  "*/*":
                                                      {
                                                          "schema":
                                                              {
                                                                  "$ref": "#/components/schemas/ErrorDetails",
                                                              },
                                                      },
                                              },
                                      },
                                  "201":
                                      {
                                          "description": "Created",
                                          "content":
                                              {
                                                  "*/*":
                                                      {
                                                          "schema":
                                                              {
                                                                  "$ref": "#/components/schemas/PaymentResponse",
                                                              },
                                                      },
                                              },
                                      },
                              },
                      },
              },
            "/merchants/{merchantId}/transactions/inquiries":
                {
                    "post":
                        {
                            "tags": ["transaction-controller"],
                            "operationId": "handleTransactionInquiry",
                            "parameters":
                                [
                                    {
                                        "name": "merchantId",
                                        "in": "path",
                                        "required": true,
                                        "schema": { "type": "string" },
                                    },
                                ],
                            "requestBody":
                                {
                                    "content":
                                        {
                                            "application/json":
                                                {
                                                    "schema":
                                                        {
                                                            "$ref": "#/components/schemas/OperationInquiryToken",
                                                        },
                                                },
                                        },
                                    "required": true,
                                },
                            "responses":
                                {
                                    "500":
                                        {
                                            "description": "Internal Server Error",
                                            "content":
                                                {
                                                    "*/*":
                                                        {
                                                            "schema":
                                                                {
                                                                    "$ref": "#/components/schemas/ErrorDetails",
                                                                },
                                                        },
                                                },
                                        },
                                    "400":
                                        {
                                            "description": "Bad Request",
                                            "content":
                                                {
                                                    "*/*":
                                                        {
                                                            "schema":
                                                                {
                                                                    "$ref": "#/components/schemas/ErrorDetails",
                                                                },
                                                        },
                                                },
                                        },
                                    "200":
                                        {
                                            "description": "OK",
                                            "content":
                                                {
                                                    "*/*":
                                                        {
                                                            "schema":
                                                                {
                                                                    "$ref": "#/components/schemas/PaymentResponse",
                                                                },
                                                        },
                                                },
                                        },
                                },
                        },
                },
            "/merchants/{merchantId}/instruments":
                {
                    "post":
                        {
                            "tags": ["instrument-controller"],
                            "operationId": "registerInstrument",
                            "parameters":
                                [
                                    {
                                        "name": "merchantId",
                                        "in": "path",
                                        "required": true,
                                        "schema": { "type": "string" },
                                    },
                                ],
                            "requestBody":
                                {
                                    "content":
                                        {
                                            "application/json":
                                                {
                                                    "schema":
                                                        {
                                                            "$ref": "#/components/schemas/PaymentInstrument",
                                                        },
                                                },
                                        },
                                    "required": true,
                                },
                            "responses":
                                {
                                    "500":
                                        {
                                            "description": "Internal Server Error",
                                            "content":
                                                {
                                                    "*/*":
                                                        {
                                                            "schema":
                                                                {
                                                                    "$ref": "#/components/schemas/ErrorDetails",
                                                                },
                                                        },
                                                },
                                        },
                                    "400":
                                        {
                                            "description": "Bad Request",
                                            "content":
                                                {
                                                    "*/*":
                                                        {
                                                            "schema":
                                                                {
                                                                    "$ref": "#/components/schemas/ErrorDetails",
                                                                },
                                                        },
                                                },
                                        },
                                    "201":
                                        {
                                            "description": "Created",
                                            "content":
                                                {
                                                    "*/*":
                                                        {
                                                            "schema":
                                                                {
                                                                    "$ref": "#/components/schemas/PaymentInstrument",
                                                                },
                                                        },
                                                },
                                        },
                                },
                        },
                },
            "/merchants/{merchantId}/transactions/{transactionId}":
                {
                    "get":
                        {
                            "tags": ["transaction-controller"],
                            "operationId": "getTransactionDetails",
                            "parameters":
                                [
                                    {
                                        "name": "merchantId",
                                        "in": "path",
                                        "required": true,
                                        "schema": { "type": "string" },
                                    },
                                    {
                                        "name": "transactionId",
                                        "in": "path",
                                        "required": true,
                                        "schema": { "type": "string" },
                                    },
                                ],
                            "responses":
                                {
                                    "500":
                                        {
                                            "description": "Internal Server Error",
                                            "content":
                                                {
                                                    "*/*":
                                                        {
                                                            "schema":
                                                                {
                                                                    "$ref": "#/components/schemas/ErrorDetails",
                                                                },
                                                        },
                                                },
                                        },
                                    "400":
                                        {
                                            "description": "Bad Request",
                                            "content":
                                                {
                                                    "*/*":
                                                        {
                                                            "schema":
                                                                {
                                                                    "$ref": "#/components/schemas/ErrorDetails",
                                                                },
                                                        },
                                                },
                                        },
                                    "200":
                                        {
                                            "description": "OK",
                                            "content":
                                                {
                                                    "*/*":
                                                        {
                                                            "schema":
                                                                {
                                                                    "$ref": "#/components/schemas/TransactionEntityDTO",
                                                                },
                                                        },
                                                },
                                        },
                                },
                        },
                },
            "/merchants/{merchantId}/instruments/{instrumentId}":
                {
                    "get":
                        {
                            "tags": ["instrument-controller"],
                            "operationId": "findInstrumentById",
                            "parameters":
                                [
                                    {
                                        "name": "merchantId",
                                        "in": "path",
                                        "required": true,
                                        "schema": { "type": "string" },
                                    },
                                    {
                                        "name": "instrumentId",
                                        "in": "path",
                                        "required": true,
                                        "schema": { "type": "string" },
                                    },
                                    {
                                        "name": "withSecrets",
                                        "in": "query",
                                        "required": false,
                                        "schema":
                                            {
                                                "type": "boolean",
                                                "default": false,
                                            },
                                    },
                                ],
                            "responses":
                                {
                                    "500":
                                        {
                                            "description": "Internal Server Error",
                                            "content":
                                                {
                                                    "*/*":
                                                        {
                                                            "schema":
                                                                {
                                                                    "$ref": "#/components/schemas/ErrorDetails",
                                                                },
                                                        },
                                                },
                                        },
                                    "400":
                                        {
                                            "description": "Bad Request",
                                            "content":
                                                {
                                                    "*/*":
                                                        {
                                                            "schema":
                                                                {
                                                                    "$ref": "#/components/schemas/ErrorDetails",
                                                                },
                                                        },
                                                },
                                        },
                                    "200":
                                        {
                                            "description": "OK",
                                            "content":
                                                {
                                                    "application/json":
                                                        {
                                                            "schema":
                                                                {
                                                                    "$ref": "#/components/schemas/PaymentInstrument",
                                                                },
                                                        },
                                                },
                                        },
                                },
                        },
                },
        },
    "components":
        {
            "schemas":
                {
                    "ErrorDetails":
                        {
                            "type": "object",
                            "properties":
                                {
                                    "errorCode":
                                        {
                                            "type": "string",
                                            "enum":
                                                [
                                                    "required_body",
                                                    "invalid_body_format",
                                                    "invalid_body_fields",
                                                    "invalid_header",
                                                    "conflicted_entity",
                                                    "non_existent_entity",
                                                    "unauthorized",
                                                    "psp_error",
                                                    "psp_business_error",
                                                    "unexpected_error",
                                                ],
                                        },
                                    "message": { "type": "string" },
                                    "fieldErrorItems":
                                        {
                                            "type": "array",
                                            "items":
                                                {
                                                    "$ref": "#/components/schemas/FieldErrorItem",
                                                },
                                        },
                                    "retryable": { "type": "boolean" },
                                },
                        },
                    "FieldErrorItem":
                        {
                            "type": "object",
                            "properties":
                                {
                                    "message": { "type": "string" },
                                    "fieldErrorCode":
                                        {
                                            "type": "string",
                                            "enum":
                                                [
                                                    "required_value",
                                                    "invalid_value",
                                                    "unauthorized",
                                                    "unexpected_error",
                                                    "unknown",
                                                ],
                                        },
                                },
                        },
                    "Address":
                        {
                            "required":
                                [
                                    "address1",
                                    "city",
                                    "countryCode",
                                    "postalCode",
                                    "state",
                                ],
                            "type": "object",
                            "properties":
                                {
                                    "address1": { "type": "string" },
                                    "address2": { "type": "string" },
                                    "address3": { "type": "string" },
                                    "city": { "type": "string" },
                                    "state": { "type": "string" },
                                    "countryCode":
                                        {
                                            "type": "string",
                                            "enum":
                                                [
                                                    "AF",
                                                    "AX",
                                                    "AL",
                                                    "DZ",
                                                    "AS",
                                                    "AD",
                                                    "AO",
                                                    "AI",
                                                    "AQ",
                                                    "AG",
                                                    "AR",
                                                    "AM",
                                                    "AW",
                                                    "AU",
                                                    "AT",
                                                    "AZ",
                                                    "BS",
                                                    "BH",
                                                    "BD",
                                                    "BB",
                                                    "BY",
                                                    "BE",
                                                    "BZ",
                                                    "BJ",
                                                    "BM",
                                                    "BT",
                                                    "BO",
                                                    "BQ",
                                                    "BA",
                                                    "BW",
                                                    "BV",
                                                    "BR",
                                                    "IO",
                                                    "BN",
                                                    "BG",
                                                    "BF",
                                                    "BI",
                                                    "KH",
                                                    "CM",
                                                    "CA",
                                                    "CV",
                                                    "KY",
                                                    "CF",
                                                    "TD",
                                                    "CL",
                                                    "CN",
                                                    "CX",
                                                    "CC",
                                                    "CO",
                                                    "KM",
                                                    "CG",
                                                    "CD",
                                                    "CK",
                                                    "CR",
                                                    "CI",
                                                    "HR",
                                                    "CU",
                                                    "CW",
                                                    "CY",
                                                    "CZ",
                                                    "DK",
                                                    "DJ",
                                                    "DM",
                                                    "DO",
                                                    "TP",
                                                    "EC",
                                                    "EG",
                                                    "SV",
                                                    "GQ",
                                                    "ER",
                                                    "EE",
                                                    "ET",
                                                    "FK",
                                                    "FO",
                                                    "FJ",
                                                    "FI",
                                                    "FR",
                                                    "FX",
                                                    "GF",
                                                    "PF",
                                                    "TF",
                                                    "GA",
                                                    "GM",
                                                    "GE",
                                                    "DE",
                                                    "GH",
                                                    "GI",
                                                    "GR",
                                                    "GL",
                                                    "GD",
                                                    "GP",
                                                    "GU",
                                                    "GT",
                                                    "GG",
                                                    "GN",
                                                    "GW",
                                                    "GY",
                                                    "HT",
                                                    "HM",
                                                    "HN",
                                                    "HK",
                                                    "HU",
                                                    "IS",
                                                    "IN",
                                                    "ID",
                                                    "IR",
                                                    "IQ",
                                                    "IE",
                                                    "IM",
                                                    "IL",
                                                    "IT",
                                                    "JM",
                                                    "JP",
                                                    "JE",
                                                    "JO",
                                                    "KZ",
                                                    "KE",
                                                    "KI",
                                                    "KS",
                                                    "KW",
                                                    "KG",
                                                    "LA",
                                                    "LV",
                                                    "LB",
                                                    "LS",
                                                    "LR",
                                                    "LY",
                                                    "LI",
                                                    "LT",
                                                    "LU",
                                                    "MO",
                                                    "MK",
                                                    "MG",
                                                    "MW",
                                                    "MY",
                                                    "MV",
                                                    "ML",
                                                    "MT",
                                                    "MH",
                                                    "MQ",
                                                    "MR",
                                                    "MU",
                                                    "YT",
                                                    "MX",
                                                    "FM",
                                                    "MD",
                                                    "MC",
                                                    "MN",
                                                    "MS",
                                                    "MA",
                                                    "MZ",
                                                    "MM",
                                                    "NA",
                                                    "NR",
                                                    "NP",
                                                    "NL",
                                                    "NC",
                                                    "NZ",
                                                    "NI",
                                                    "NE",
                                                    "NG",
                                                    "NU",
                                                    "NF",
                                                    "MP",
                                                    "NO",
                                                    "OM",
                                                    "PK",
                                                    "PW",
                                                    "PS",
                                                    "PA",
                                                    "PG",
                                                    "PY",
                                                    "KP",
                                                    "PE",
                                                    "PH",
                                                    "PN",
                                                    "PL",
                                                    "PT",
                                                    "PR",
                                                    "QA",
                                                    "KR",
                                                    "ME",
                                                    "RS",
                                                    "RE",
                                                    "RO",
                                                    "RU",
                                                    "RW",
                                                    "GS",
                                                    "BL",
                                                    "KN",
                                                    "LC",
                                                    "MF",
                                                    "WS",
                                                    "SM",
                                                    "ST",
                                                    "SA",
                                                    "SN",
                                                    "CS",
                                                    "SC",
                                                    "SL",
                                                    "SG",
                                                    "SX",
                                                    "SK",
                                                    "SI",
                                                    "SB",
                                                    "SO",
                                                    "ZA",
                                                    "ES",
                                                    "LK",
                                                    "SH",
                                                    "PM",
                                                    "VC",
                                                    "SD",
                                                    "SR",
                                                    "SJ",
                                                    "SZ",
                                                    "SE",
                                                    "CH",
                                                    "SY",
                                                    "TW",
                                                    "TJ",
                                                    "TZ",
                                                    "TH",
                                                    "TL",
                                                    "TG",
                                                    "TK",
                                                    "TO",
                                                    "TT",
                                                    "TN",
                                                    "TR",
                                                    "TM",
                                                    "TC",
                                                    "TV",
                                                    "UG",
                                                    "UA",
                                                    "AE",
                                                    "GB",
                                                    "US",
                                                    "UY",
                                                    "UM",
                                                    "UZ",
                                                    "VU",
                                                    "VA",
                                                    "VE",
                                                    "VN",
                                                    "VG",
                                                    "VI",
                                                    "WF",
                                                    "EH",
                                                    "YE",
                                                    "YU",
                                                    "ZR",
                                                    "ZM",
                                                    "ZW",
                                                ],
                                        },
                                    "postalCode": { "type": "string" },
                                },
                        },
                    "CardDetails":
                        {
                            "required": ["cvc", "expiry", "holderName"],
                            "type": "object",
                            "properties":
                                {
                                    "number": { "type": "string" },
                                    "expiry":
                                        {
                                            "type": "object",
                                            "properties":
                                                {
                                                    "year":
                                                        {
                                                            "type": "integer",
                                                            "format": "int32",
                                                        },
                                                    "month":
                                                        {
                                                            "type": "string",
                                                            "enum":
                                                                [
                                                                    "JANUARY",
                                                                    "FEBRUARY",
                                                                    "MARCH",
                                                                    "APRIL",
                                                                    "MAY",
                                                                    "JUNE",
                                                                    "JULY",
                                                                    "AUGUST",
                                                                    "SEPTEMBER",
                                                                    "OCTOBER",
                                                                    "NOVEMBER",
                                                                    "DECEMBER",
                                                                ],
                                                        },
                                                    "monthValue":
                                                        {
                                                            "type": "integer",
                                                            "format": "int32",
                                                        },
                                                    "leapYear":
                                                        { "type": "boolean" },
                                                },
                                        },
                                    "cvc":
                                        {
                                            "maxLength": 4,
                                            "minLength": 3,
                                            "type": "string",
                                        },
                                    "holderName": { "type": "string" },
                                    "bin": { "type": "string" },
                                },
                        },
                    "CardTokenDetails":
                        {
                            "required": ["source", "token"],
                            "type": "object",
                            "properties":
                                {
                                    "token": { "type": "string" },
                                    "source":
                                        {
                                            "type": "string",
                                            "enum": ["BOXPAY"],
                                        },
                                },
                        },
                    "Descriptor":
                        {
                            "required": ["line1"],
                            "type": "object",
                            "properties":
                                {
                                    "line1": { "type": "string" },
                                    "line2": { "type": "string" },
                                },
                        },
                    "InstrumentDetails":
                        {
                            "required": ["type"],
                            "type": "object",
                            "properties":
                                {
                                    "type":
                                        {
                                            "type": "string",
                                            "enum":
                                                [
                                                    "card/plain",
                                                    "card/token",
                                                    "wallet/alipay",
                                                    "wallet/alipayhk",
                                                    "wallet/amazonpay",
                                                    "wallet/dana",
                                                    "wallet/googlepay",
                                                    "wallet/gcash",
                                                    "wallet/grabpay",
                                                    "wallet/kakaopay",
                                                    "wallet/mbway",
                                                    "wallet/mobilepay",
                                                    "wallet/paytm",
                                                    "wallet/momo",
                                                    "wallet/swish",
                                                    "wallet/samsungpay",
                                                    "wallet/touchngo",
                                                    "wallet/twint",
                                                    "wallet/vipps",
                                                    "wallet/wechatpay",
                                                    "bnpl/afterpaytouch",
                                                    "bnpl/atome",
                                                    "bnpl/grabpaylater",
                                                    "bnpl/zip",
                                                ],
                                        },
                                    "card":
                                        {
                                            "$ref": "#/components/schemas/CardDetails",
                                        },
                                    "cardToken":
                                        {
                                            "$ref": "#/components/schemas/CardTokenDetails",
                                        },
                                    "wallet":
                                        {
                                            "$ref": "#/components/schemas/WalletDetails",
                                        },
                                },
                        },
                    "LegalEntityContext":
                        {
                            "required": ["code"],
                            "type": "object",
                            "properties": { "code": { "type": "string" } },
                        },
                    "Money":
                        {
                            "required": ["amount", "currencyCode"],
                            "type": "object",
                            "properties":
                                {
                                    "amount": { "type": "number" },
                                    "currencyCode":
                                        {
                                            "type": "string",
                                            "enum":
                                                [
                                                    "AFN",
                                                    "DZD",
                                                    "AOA",
                                                    "ANG",
                                                    "AWG",
                                                    "AUD",
                                                    "AZN",
                                                    "BSD",
                                                    "BHD",
                                                    "BDT",
                                                    "BBD",
                                                    "BYN",
                                                    "BZD",
                                                    "BMD",
                                                    "BTN",
                                                    "BOB",
                                                    "BAM",
                                                    "BWP",
                                                    "BRL",
                                                    "BND",
                                                    "BIF",
                                                    "KHR",
                                                    "CAD",
                                                    "CVE",
                                                    "KYD",
                                                    "XOF",
                                                    "XAF",
                                                    "XPF",
                                                    "CLP",
                                                    "COP",
                                                    "KMF",
                                                    "CDF",
                                                    "CRC",
                                                    "CZK",
                                                    "DKK",
                                                    "DJF",
                                                    "STD",
                                                    "DOP",
                                                    "XCD",
                                                    "ECS",
                                                    "EGP",
                                                    "SVC",
                                                    "ERN",
                                                    "ETB",
                                                    "EUR",
                                                    "FKP",
                                                    "FJD",
                                                    "GMD",
                                                    "GEL",
                                                    "GHS",
                                                    "GIP",
                                                    "GTQ",
                                                    "GNF",
                                                    "GYD",
                                                    "HTG",
                                                    "HNL",
                                                    "HKD",
                                                    "HUF",
                                                    "ISK",
                                                    "INR",
                                                    "IDR",
                                                    "IRR",
                                                    "IQD",
                                                    "IEP",
                                                    "ITL",
                                                    "JMD",
                                                    "JPY",
                                                    "JOD",
                                                    "KZT",
                                                    "KES",
                                                    "KWD",
                                                    "LAK",
                                                    "LBP",
                                                    "LSL",
                                                    "LRD",
                                                    "LYD",
                                                    "LTL",
                                                    "MOP",
                                                    "MKD",
                                                    "MGA",
                                                    "MWK",
                                                    "MYR",
                                                    "MVR",
                                                    "MRO",
                                                    "MUR",
                                                    "MXN",
                                                    "MDL",
                                                    "MNT",
                                                    "MAD",
                                                    "MZN",
                                                    "MMK",
                                                    "NAD",
                                                    "NPR",
                                                    "BGN",
                                                    "ILS",
                                                    "PLN",
                                                    "RON",
                                                    "RSD",
                                                    "TWD",
                                                    "TRY",
                                                    "NZD",
                                                    "NIO",
                                                    "NGN",
                                                    "KPW",
                                                    "NOK",
                                                    "ARS",
                                                    "PKR",
                                                    "PAB",
                                                    "PGK",
                                                    "PYG",
                                                    "PEN",
                                                    "UYU",
                                                    "PHP",
                                                    "GBP",
                                                    "QAR",
                                                    "OMR",
                                                    "RUB",
                                                    "RWF",
                                                    "WST",
                                                    "SAR",
                                                    "SCR",
                                                    "SLL",
                                                    "SGD",
                                                    "SBD",
                                                    "SOS",
                                                    "ZAR",
                                                    "KRW",
                                                    "LKR",
                                                    "SHP",
                                                    "SDP",
                                                    "SRD",
                                                    "SZL",
                                                    "SEK",
                                                    "CHF",
                                                    "SYP",
                                                    "TJS",
                                                    "TZS",
                                                    "THB",
                                                    "TOP",
                                                    "TTD",
                                                    "TND",
                                                    "TMT",
                                                    "AED",
                                                    "UGX",
                                                    "UAH",
                                                    "USD",
                                                    "UZS",
                                                    "VUV",
                                                    "VEB",
                                                    "VEF",
                                                    "VND",
                                                    "YER",
                                                    "CNY",
                                                    "YUM",
                                                    "ZMW",
                                                    "ZWD",
                                                ],
                                        },
                                },
                        },
                    "MoneyInstruction":
                        {
                            "required": ["descriptor", "instrument", "money"],
                            "type": "object",
                            "properties":
                                {
                                    "money":
                                        {
                                            "$ref": "#/components/schemas/Money",
                                        },
                                    "descriptor":
                                        {
                                            "$ref": "#/components/schemas/Descriptor",
                                        },
                                    "instrument":
                                        {
                                            "$ref": "#/components/schemas/InstrumentDetails",
                                        },
                                    "billingAddress":
                                        {
                                            "$ref": "#/components/schemas/Address",
                                        },
                                },
                        },
                    "OrderDetails":
                        {
                            "type": "object",
                            "properties":
                                {
                                    "voucherCode": { "type": "string" },
                                    "shippingAmount": { "type": "number" },
                                    "taxAmount": { "type": "number" },
                                    "totalAmount": { "type": "number" },
                                    "originalAmount": { "type": "number" },
                                    "items":
                                        {
                                            "type": "array",
                                            "items":
                                                {
                                                    "$ref": "#/components/schemas/OrderItemDetails",
                                                },
                                        },
                                },
                        },
                    "OrderItemDetails":
                        {
                            "type": "object",
                            "properties":
                                {
                                    "id": { "type": "string" },
                                    "description": { "type": "string" },
                                    "quantity":
                                        {
                                            "type": "integer",
                                            "format": "int32",
                                        },
                                    "manufacturer": { "type": "string" },
                                    "brand": { "type": "string" },
                                    "color": { "type": "string" },
                                    "productUrl": { "type": "string" },
                                    "imageUrl": { "type": "string" },
                                    "categories":
                                        {
                                            "type": "array",
                                            "items": { "type": "string" },
                                        },
                                    "amountWithoutTax": { "type": "number" },
                                    "taxAmount": { "type": "number" },
                                    "taxPercentage": { "type": "number" },
                                },
                        },
                    "PaymentContext":
                        {
                            "required": ["countryCode", "legalEntity"],
                            "type": "object",
                            "properties":
                                {
                                    "legalEntity":
                                        {
                                            "$ref": "#/components/schemas/LegalEntityContext",
                                        },
                                    "countryCode":
                                        {
                                            "type": "string",
                                            "enum":
                                                [
                                                    "AF",
                                                    "AX",
                                                    "AL",
                                                    "DZ",
                                                    "AS",
                                                    "AD",
                                                    "AO",
                                                    "AI",
                                                    "AQ",
                                                    "AG",
                                                    "AR",
                                                    "AM",
                                                    "AW",
                                                    "AU",
                                                    "AT",
                                                    "AZ",
                                                    "BS",
                                                    "BH",
                                                    "BD",
                                                    "BB",
                                                    "BY",
                                                    "BE",
                                                    "BZ",
                                                    "BJ",
                                                    "BM",
                                                    "BT",
                                                    "BO",
                                                    "BQ",
                                                    "BA",
                                                    "BW",
                                                    "BV",
                                                    "BR",
                                                    "IO",
                                                    "BN",
                                                    "BG",
                                                    "BF",
                                                    "BI",
                                                    "KH",
                                                    "CM",
                                                    "CA",
                                                    "CV",
                                                    "KY",
                                                    "CF",
                                                    "TD",
                                                    "CL",
                                                    "CN",
                                                    "CX",
                                                    "CC",
                                                    "CO",
                                                    "KM",
                                                    "CG",
                                                    "CD",
                                                    "CK",
                                                    "CR",
                                                    "CI",
                                                    "HR",
                                                    "CU",
                                                    "CW",
                                                    "CY",
                                                    "CZ",
                                                    "DK",
                                                    "DJ",
                                                    "DM",
                                                    "DO",
                                                    "TP",
                                                    "EC",
                                                    "EG",
                                                    "SV",
                                                    "GQ",
                                                    "ER",
                                                    "EE",
                                                    "ET",
                                                    "FK",
                                                    "FO",
                                                    "FJ",
                                                    "FI",
                                                    "FR",
                                                    "FX",
                                                    "GF",
                                                    "PF",
                                                    "TF",
                                                    "GA",
                                                    "GM",
                                                    "GE",
                                                    "DE",
                                                    "GH",
                                                    "GI",
                                                    "GR",
                                                    "GL",
                                                    "GD",
                                                    "GP",
                                                    "GU",
                                                    "GT",
                                                    "GG",
                                                    "GN",
                                                    "GW",
                                                    "GY",
                                                    "HT",
                                                    "HM",
                                                    "HN",
                                                    "HK",
                                                    "HU",
                                                    "IS",
                                                    "IN",
                                                    "ID",
                                                    "IR",
                                                    "IQ",
                                                    "IE",
                                                    "IM",
                                                    "IL",
                                                    "IT",
                                                    "JM",
                                                    "JP",
                                                    "JE",
                                                    "JO",
                                                    "KZ",
                                                    "KE",
                                                    "KI",
                                                    "KS",
                                                    "KW",
                                                    "KG",
                                                    "LA",
                                                    "LV",
                                                    "LB",
                                                    "LS",
                                                    "LR",
                                                    "LY",
                                                    "LI",
                                                    "LT",
                                                    "LU",
                                                    "MO",
                                                    "MK",
                                                    "MG",
                                                    "MW",
                                                    "MY",
                                                    "MV",
                                                    "ML",
                                                    "MT",
                                                    "MH",
                                                    "MQ",
                                                    "MR",
                                                    "MU",
                                                    "YT",
                                                    "MX",
                                                    "FM",
                                                    "MD",
                                                    "MC",
                                                    "MN",
                                                    "MS",
                                                    "MA",
                                                    "MZ",
                                                    "MM",
                                                    "NA",
                                                    "NR",
                                                    "NP",
                                                    "NL",
                                                    "NC",
                                                    "NZ",
                                                    "NI",
                                                    "NE",
                                                    "NG",
                                                    "NU",
                                                    "NF",
                                                    "MP",
                                                    "NO",
                                                    "OM",
                                                    "PK",
                                                    "PW",
                                                    "PS",
                                                    "PA",
                                                    "PG",
                                                    "PY",
                                                    "KP",
                                                    "PE",
                                                    "PH",
                                                    "PN",
                                                    "PL",
                                                    "PT",
                                                    "PR",
                                                    "QA",
                                                    "KR",
                                                    "ME",
                                                    "RS",
                                                    "RE",
                                                    "RO",
                                                    "RU",
                                                    "RW",
                                                    "GS",
                                                    "BL",
                                                    "KN",
                                                    "LC",
                                                    "MF",
                                                    "WS",
                                                    "SM",
                                                    "ST",
                                                    "SA",
                                                    "SN",
                                                    "CS",
                                                    "SC",
                                                    "SL",
                                                    "SG",
                                                    "SX",
                                                    "SK",
                                                    "SI",
                                                    "SB",
                                                    "SO",
                                                    "ZA",
                                                    "ES",
                                                    "LK",
                                                    "SH",
                                                    "PM",
                                                    "VC",
                                                    "SD",
                                                    "SR",
                                                    "SJ",
                                                    "SZ",
                                                    "SE",
                                                    "CH",
                                                    "SY",
                                                    "TW",
                                                    "TJ",
                                                    "TZ",
                                                    "TH",
                                                    "TL",
                                                    "TG",
                                                    "TK",
                                                    "TO",
                                                    "TT",
                                                    "TN",
                                                    "TR",
                                                    "TM",
                                                    "TC",
                                                    "TV",
                                                    "UG",
                                                    "UA",
                                                    "AE",
                                                    "GB",
                                                    "US",
                                                    "UY",
                                                    "UM",
                                                    "UZ",
                                                    "VU",
                                                    "VA",
                                                    "VE",
                                                    "VN",
                                                    "VG",
                                                    "VI",
                                                    "WF",
                                                    "EH",
                                                    "YE",
                                                    "YU",
                                                    "ZR",
                                                    "ZM",
                                                    "ZW",
                                                ],
                                        },
                                    "clientPosId": { "type": "string" },
                                    "clientReferenceId": { "type": "string" },
                                },
                        },
                    "PaymentRequest":
                        {
                            "required": ["context", "moneyInstruction"],
                            "type": "object",
                            "properties":
                                {
                                    "transactionId": { "type": "string" },
                                    "merchantId": { "type": "string" },
                                    "context":
                                        {
                                            "$ref": "#/components/schemas/PaymentContext",
                                        },
                                    "paymentType":
                                        {
                                            "type": "string",
                                            "enum": ["S", "A"],
                                        },
                                    "moneyInstruction":
                                        {
                                            "$ref": "#/components/schemas/MoneyInstruction",
                                        },
                                    "shopper":
                                        {
                                            "$ref": "#/components/schemas/ShopperDetails",
                                        },
                                    "order":
                                        {
                                            "$ref": "#/components/schemas/OrderDetails",
                                        },
                                    "frontendReturnUrl": { "type": "string" },
                                },
                        },
                    "ShopperDetails":
                        {
                            "required": ["firstName", "lastName"],
                            "type": "object",
                            "properties":
                                {
                                    "firstName": { "type": "string" },
                                    "lastName": { "type": "string" },
                                    "gender":
                                        {
                                            "type": "string",
                                            "enum":
                                                [
                                                    "MALE",
                                                    "FEMALE",
                                                    "TRANSGENDER",
                                                ],
                                        },
                                    "phoneNumber": { "type": "string" },
                                    "email": { "type": "string" },
                                    "uniqueReference": { "type": "string" },
                                    "deliveryAddress":
                                        {
                                            "$ref": "#/components/schemas/Address",
                                        },
                                },
                        },
                    "WalletDetails":
                        {
                            "required": ["token"],
                            "type": "object",
                            "properties": { "token": { "type": "string" } },
                        },
                    "PaymentOperationStatus":
                        {
                            "type": "object",
                            "properties":
                                {
                                    "operation":
                                        {
                                            "type": "string",
                                            "enum":
                                                [
                                                    "Authorisation",
                                                    "Capture",
                                                    "Partial_Capture",
                                                    "Cancel",
                                                    "Refund",
                                                    "Partial_Refund",
                                                ],
                                        },
                                    "status":
                                        {
                                            "type": "string",
                                            "enum":
                                                [
                                                    "Received",
                                                    "Batched",
                                                    "Redirection",
                                                    "Posted",
                                                    "Approved",
                                                    "Rejected",
                                                    "Failed",
                                                    "Settled",
                                                    "Reconciled",
                                                    "Expired",
                                                ],
                                        },
                                    "reason": { "type": "string" },
                                },
                        },
                    "PaymentResponse":
                        {
                            "type": "object",
                            "properties":
                                {
                                    "operationId": { "type": "string" },
                                    "status":
                                        {
                                            "$ref": "#/components/schemas/PaymentOperationStatus",
                                        },
                                    "pspCode":
                                        {
                                            "type": "string",
                                            "enum":
                                                [
                                                    "WORLDPAY",
                                                    "ADYEN",
                                                    "CYBERSOURCE",
                                                    "CCPP",
                                                    "ATOME",
                                                    "REDDOT",
                                                    "NONE",
                                                ],
                                        },
                                    "pspReference": { "type": "string" },
                                    "authCode": { "type": "string" },
                                    "additionalData":
                                        {
                                            "type": "object",
                                            "additionalProperties":
                                                { "type": "string" },
                                        },
                                },
                        },
                    "PaymentCaptureRefundRequest":
                        {
                            "required": ["money"],
                            "type": "object",
                            "properties":
                                {
                                    "money":
                                        {
                                            "$ref": "#/components/schemas/Money",
                                        },
                                    "order":
                                        {
                                            "$ref": "#/components/schemas/OrderDetails",
                                        },
                                },
                        },
                    "OperationInquiryToken":
                        {
                            "required": ["token"],
                            "type": "object",
                            "properties": { "token": { "type": "string" } },
                        },
                    "Card":
                        {
                            "required": ["cardHolderName"],
                            "type": "object",
                            "properties":
                                {
                                    "expiryYear":
                                        {
                                            "maximum": 9999,
                                            "minimum": 2023,
                                            "type": "integer",
                                            "format": "int32",
                                        },
                                    "expiryMonth":
                                        {
                                            "maximum": 12,
                                            "minimum": 1,
                                            "type": "integer",
                                            "format": "int32",
                                        },
                                    "cardHolderName": { "type": "string" },
                                    "cvv":
                                        {
                                            "maxLength": 4,
                                            "minLength": 3,
                                            "type": "string",
                                        },
                                    "cardNumber": { "type": "string" },
                                    "brand": { "type": "string" },
                                    "subBrand": { "type": "string" },
                                    "last4": { "type": "string" },
                                    "cardFunding":
                                        {
                                            "type": "string",
                                            "enum":
                                                [
                                                    "CREDIT",
[...]
